* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Arial", "Times New Roman", "Felix Titling", sans-serif;
    font-size: 14px;
    background-color: #4bfff7;
}

header {
    width: 100%;
    background-color: black;
}


#logo img {
    vertical-align: middle;
}

#site_name {
    font-family: "Baskerville Old Face", serif;
    color: white;
    font-weight: bold;
    display: inline;
}


ul, ol {
    padding-inline-start: 0;
}


li {
    list-style-type: none;
}

#section {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.nav_links {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav_links_element {
    padding: 10px;
    margin: 5px;
    border: 2px black;
    border-radius: 5px;
    font-size: 16px;
    background-color: black;
}

.nav_list {
    color: white;
    font-weight: bold;
}

.nav a {
    color: #5b4e44;
    padding: 15px;
}

a {
    text-decoration: none;
    color: dimgrey;
}

#hyperlinks {
    order: 1;
}

#form {
    order: 2;
}

#spreadsheet {
    order: 3;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.odd {
    background-color: #fff;
}

.even {
    background-color: #F7F7F7;
}


.form {
    margin: 10px;
    padding: 15px;
    border: 2px #efeaea;
    border-radius: 2px;
}


input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
}

select, textarea {
    vertical-align: middle;
}

label {
    color: #37378d;
}

#footer {
    height: 30px;
    background-color: #110f14;
    color: white;
}

.footer_name {
    font-size: 16px;
}


@media screen and (min-width: 640px) {
    body {
        font-size: 17px;
    }

    .nav_links {
        flex-direction: row;
    }

    .nav_links_element {
        padding: 5px;
        margin: 25px;
        border: 2px black;
        border-radius: 5px;
        font-size: 20px;
        background-color: black;
    }

    .nav_links_element:hover {
        transition-duration: 250ms;
        background-color: #1d1150;
    }

    .nav a {
        color: #5b4e44;
        padding: 30px;
    }


    a {
        text-decoration: none;
        color: dimgrey;
    }

    .task_nav li {
        margin: 10px;
        padding: 5px;
        display: inline-block;
    }

    #hyperlinks a:hover {
        color: #5b3717;
    }

    .nav_links li {
        display: inline-block;
    }

    .nav{
        text-align: center;
    }


    #logo {
        max-width: 960px;
        margin: 0 auto;
    }

    #section {
        margin: 0 auto;
        max-width: 960px;
    }

    .form:focus {
        background-color: azure;
        box-shadow: 0 0 5px blue;
    }
}